body{
    background-color: rgb(255, 176, 196);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.perfil_card {
    background-color: rgb(224, 0, 94);
    text-align: center;
    border-radius:  50%;
}
